attrs==22.1.0
certifi
cfgv==3.3.1
colorama==0.4.6
coverage==7.0.0
distlib==0.3.6
exceptiongroup==1.0.4
filelock==3.8.2
identify==2.5.11
iniconfig==1.1.1
mock==4.0.3
nodeenv==1.7.0
packaging==22.0
platformdirs==2.6.0
pluggy==1.0.0
pre-commit==2.20.0
py==1.11.0
pytest==7.2.0
PyYAML==6.0
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.7
six==1.16.0
toml==0.10.2
tomli==2.0.1
tox==3.28.0
tox-conda==0.10.1
typing_extensions==4.4.0
virtualenv==20.17.1
wincertstore==0.2
